body, html {
    background-color: #fff;
}

/************** Single Content *****************/

.single-content {
    margin-bottom: 16px;
    line-height: 31px;
    margin-right: 24px;
    font-weight: normal;
}

.single-content a {
    cursor: pointer;
    border-left: 4px solid #e21e1e;
    font-size: 26px;
    padding: 0 10px;
    color: #4a4a4a;
}

/**************** End Single Content ********************/

/***************** Navbar Starts ****************************/

.navbar-toggler{
    display: none;
}

.navbar-collapse {
    padding-left: 0px;
}
.navbar-nav {
    padding-left: 0px;
}
.navbar-nav li{
    list-style: none;
}
.main-menu{
    background: rgba(0, 0, 0, 0.2);;
}
.menu-area{
    background: url(asset/img/header-back.png);
    margin-top: 60px;
}
.navbar {
    min-height: auto;
    margin-bottom: 0px;
    border: 0px solid #222;
}
.navbar-nav>li>a {
    display: block;
    padding: 15px;
    color: #000;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    font-weight: 400;
}

.top-bar .navbar-nav>li>a {
    padding: 20px;
    padding-bottom: 17px;
    border-bottom: 3px solid transparent;
}
.navbar-nav>li>a:hover{
    border-bottom: 3px solid #cd2222;
}
.top-bar .navbar-nav>li>a:hover{
    background: #efefec;
}
.navbar-fixed-top {
    background: #fff;
    box-shadow: rgb(0, 0, 0) 0px 5px 5px -5px;
}

.pic-area h2 a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.pic-area h2{
    margin: 0px;
    padding: 13px 0px;
}
.logo{
    float: left;
    padding-top: 5px;
}
.top-bar .navbar-nav{
    padding-left: 68px;
}
.social{
    float: right;
    padding-left: 0px;
    margin-bottom: 0px;
}
.social li{
    list-style: none;
    display: inline-block;
    padding: 20px 10px;
    
}
.all-menu{
    border-right: 1px solid #ddd;
    position: absolute;
    margin-left: -40px;
    height: 40px;
    top: 9px;
    vertical-align: middle;
    padding: 11px !important;
}
.glyphicon-align-justify{
    margin-right: 37px;
    padding-top: 21px;
}

/***************** Navbar Ends ****************************/


/***************** Opinion Main Section Starts ****************************/

.fin-main-headline a {
    text-decoration: none !important;
    cursor: pointer;
    color: #c00;
    font-weight: 300;
}
.fin-main-headline a:hover {
    color: #0000ff;
}

.fin-main-text a {
    text-decoration: none;
    color: #333333;
}

.fin-main {
    margin-bottom: 25px;
    margin-top: 25px;
}

.fin-main img:hover {
    opacity: 0.7;
}

/****************** Opinion Main Section Ends *******************************/

/****************** Opinion Second Section Starts *******************************/

.news-section {
	background: #f2f2f2;
	display: block;
    min-height: 320px;
    margin-bottom: 25px;
}
.news-section img:hover {
    opacity: 0.7;
}
.news-section h2:hover {
    color: #0000ff;
}
.news-section a {
	text-decoration: none;
    color: #000;
}
.news-section a h2 {
	padding: 0 6px;
    font-size: 20px;
}
.news-section a p {
	padding: 0 6px;
}

.tag-of-pic {
    color: red;
    padding-top: 7px !important;
}

/****************** Opinion Second Section Ends *******************************/

/****************** Opinion Third Section Starts *******************************/

.news-area1 {
    background: #f2f2f2;
}

.news-section1 {
	background: #fff;
	display: block;
    min-height: 320px;
    margin-bottom: 25px;
}
.news-section1 img:hover {
    opacity: 0.7;
}
.news-section1 h2:hover {
    color: #0000ff;
}
.news-section1 a {
	text-decoration: none;
    color: #000;
}
.news-section1 a h2 {
	padding: 0 6px;
    font-size: 20px;
}
.news-section1 a p {
	padding: 0 6px;
}

.tag-of-pic {
    color: red;
    padding-top: 7px !important;
}

.news-section2 {
	background: #fff;
	display: block;
    min-height: 70px;
    margin-bottom: 2px;
}
.news-section2 img {
    width: 85px;
    height: 47px;
    margin-top: 7px;
    margin-left: -7px;
}
.news-section2 img:hover {
    opacity: 0.7;
}
.news-section2 h2:hover {
    color: #0000ff;
}
.news-section2 a {
	text-decoration: none;
    color: #000;
}
.news-section2 a h2 {
    font-size: 17px;
    margin-top: -3px;
}
.news-section2 a p {
    color: red;
    padding-top: 7px !important;
    font-size: 13px;
}

/****************** Opinion Third Section Ends *******************************/

/****************** Finance Menu Bar *****************************************/

.menu-area1{
    background: url(asset/img/header-finance.png);
    margin-top: 60px;
}

/****************** Finance Menu Bar *****************************************/

/****************** Finance Main Section Starts *****************************************/


